<!DOCTYPE html>
<html>
<head>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  	<style type="text/css">
  		#error-message {
  			color: red;
  		}
  	</style>
	<title>Dashboard</title>
</head>
<body>

	<% include partials/dash_navbar.ejs %>

	<% if(locals.flashMessage) { %>
		<% if(locals.flashMessage.type === 'over_limit') { %>
			<p id="over_limit"><%= locals.flashMessage.text %></p>
		<% } %>
		<% if(locals.flashMessage.type === 'post_success') { %>
			<p id="post_success"><%= locals.flashMessage.text %></p>
		<% } %>
		<% if(locals.flashMessage.type === 'server_error') { %>
			<p id="server_error"><%= locals.flashMessage.text %></p>
		<% } %>
	<% } %>

	<div id="welcome">Welcome!</div>
	<a href="/listings/new">Create Listing</a>
	<% if(locals.listings && locals.listings.length > 0) { %>
		<div id="myListings">
			<ul>
				Your listings
				<div id="error-message-container"></div>
				<% locals.listings.forEach(function(lstng) { %>
					<li id="<%= lstng._id %>">
						<a href="/listings/<%= lstng._id%>"><%= lstng.title %></a>
						<br>
						<%= lstng.description %>
						<br>
						<button id="delete-listing-btn" class="btn btn-danger btn-sm">Delete</button>
						<a href="/listings/<%= lstng._id %>/edit" class="btn btn-primary btn-sm">Update</a>
					</li>
				<% }) %>
			</ul>
		</div>
	<% } %>

	<!-- just bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	<script type="text/javascript" src="js/deleteListing.js"></script>
</body>
</html>